textarea {
    display: block ;
    margin-left: auto ;
    margin-right: auto ;
    font-size: 150%;
    background-color: #32302f;
    color: #ebdbb2;
    border: 0px solid black;
    resize: none ;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ebdbb2;
}

table,tr,th {
    border: 1px solid ;
    border-collapse: collapse ;
    margin-left: auto ;
    margin-right: auto ;
    text-align: left ;
}

input[type=password] {
    background-color: #32302f ;
    box-sizing: border-box ;
    border: 0px solid black ;
    color: #ebdbb2 ;
}

input[type=submit], input[type=button], input[type=text] {
    background-color: #32302f ;
    border: 0px solid ;
    color: #ebdbb2;
}
body {
    background-color: #282828 ;
    color: #ebdbb2 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    color: #fabd2f ;
}
a:visited {
    color: #fe8019 ;
}
a:hover {
    color: #b8bb26 ;
}
img {
    display: block ;
    margin-left: auto ;
    margin-right: auto ;
}
h1{
    text-align: center ;
}
p {
    text-align: center ;
}
.navbar a {
    float: left ;
    color: #ebdbb2 ;
    text-align: center ;
    padding: 14px 16px ;
    text-decoration: none ;
    font-size: 17px ;
}
.navbar a.active {
    float: left ;
    background-color: #b8bb26 ;
    color: #282828 ;
    text-align: center ;
    padding: 14px 16px ;
    text-decoration: none ;
    font-size: 17px ;
}
.navbar a:hover {
    background-color: #fabd2f ;
    color: #282828 ;
}
