<html lang="en">

<head>

    <meta charset="UTF-8"> 
    <title>Dictionary</title>
    <!-- hier wird CSS eingebunden, um die Seite schicker aussehen zu lassen -->
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>

</head>

<body>

    <!-- Navigationsleiste -->

    <div class="navbar">
      <a href="/">Home</a>
      <a href="/dynamic">Dynamisches</a>
      <a class="active" href="/dict">Dictionary</a>
    </div> 
    </br>
    </br>

    <!-- Inhalt -->

    <h1>Dictionaries</h1>
    {% for i in range(l) %}

    <!-- Tabelle für jedes Dictionary -->
    <table class="table">
        <!-- gehe durch das Dictionary -->
        {% for key,val in list[i].items() %}
        <tr class="table_row">
            <!-- zeige key und val in einer Zeile an -->
            <th class="table_cell"> {{ key }} </th>
            <th class="table_cell"> {{ val }} </th>
        </tr>
        {% endfor %}
        </br>
    </table>

    <!-- Formular mit Knopf zum Bearbeiten der Einträge -->

    <form action="/dict" method="POST">
        <p>
            <input type="submit" name="edit{{ i }}" value="Bearbeiten">
        </p>
    </form>

    {% endfor %}

    <!-- Formular mit Knopf zum Hinzufügen eines Eintrags -->

    <form action="/dict" method="POST">
        <p>
            <input type="submit" name="add" value="Hinzufügen">
        </p>
    </form>

</body>

</html>
