<html lang="en">

<head>

    <meta charset="UTF-8"> 
    <title>Flask Beispiel</title>
    <!-- hier wird CSS eingebunden, um die Seite schicker aussehen zu lassen -->
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>

</head>

<body>
    
    <!-- Navigationsleiste -->

    <div class="navbar">
      <a href="/">Home</a>
      <a class="active" href="/dynamic">Dynamisches</a>
      <a href="/dict">Dictionary</a>
    </div> 
    </br>
    </br>

    <!-- Inhalt -->

    <h1>Datum: {{date}}</h1>
    </br>

    <p>
    Schreibe etwas:
    </p>
    <!-- HTML-Formular mit Textfeld und Submit-Button -->
    <form action="/dynamic" method="POST">
        <p>
        <input type="text" id="txt" name="txt">
        </br>
        </br>
        <input type="submit" value="Abschicken">
        </p>
    </form>

    <p>
    {{text}}
    </p>

</body>

</html>
