<html lang="en">

<head>

    <meta charset="UTF-8"> 
    <title>Editiere Dictionary {{ i }}</title>
    <!-- hier wird CSS eingebunden, um die Seite schicker aussehen zu lassen -->
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>

</head>

<body>
    
    <!-- Navigationsleiste -->

    <div class="navbar">
      <a href="/">Home</a>
      <a href="/dynamic">Dynamisches</a>
      <a href="/dict">Dictionary</a>
    </div> 
    </br>
    </br>

    <!-- Inhalt -->

    <h1>Editiere Dictionary</h1>

    <form action="/edit/{{ i }}" method="POST">
        <table class="table">

            <!-- Für jeden Eintrag ein Text-Input -->
            {% for key,val in dict.items() %}

            <tr class="table_row">
                <th class="table_cell"> {{ key }} </th>
                <th class="table_cell">
                    <input type="text" name="{{ key }}" value="{{ val }}">
                </th>
            </tr>

            {% endfor %}

        </table>

        <p>
            <input type="submit" value="Speichern">
            </br>
            </br>
            </br>
            <strong>Anmerkung:</strong> Die Daten werden zurückgesetzt,
            sobald der Server neustartet.
        </p>

    </form>

</body>

</html>
